.pageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.title {
  color: black;
}

.form {
  display: flex;
  flex-direction: column;
  width: 50%;
  background-color: #93ad18;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.inputContainer {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.label {
  margin-bottom: 5px;
}

.input {
  max-width: 200px;
}

.fieldset {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px 0;
  padding: 10px;
}

.select {
  max-width: 200px;
  height: 30px;
}

.button {
  width: 100px;
  height: 40px;
  margin: 20px auto;
  background-color: #5a6f06;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  align-items: center;
}

.legend {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
}
